<nav class="navbar navbar-toggleable-sm navbar-light bg-inverse">
    <span style="margin-left:50px;" class="navbar-brand inverse-color">Sarlacc Angular Client Test</span>
</nav>
<div class="row" style="margin: 50px;">

    <!-- Test Actions -->
    <div class="col-md-4">

        <!-- Login -->
        <div class="col-md-12">
            <div class="card card-block">
                <h4>Login</h4>
                <form (ngSubmit)="login()" #loginForm="ngForm">
                    <input class="form-control spacer" placeholder="username" [(ngModel)]="creds.username" name="username"  required />
                    <input class="form-control spacer" placeholder="password" type="password" [(ngModel)]="creds.password" name="password" required />
                    <button type="submit" class="btn btn-primary spacer" [disabled]="!loginForm.form.valid || loginLoading">Login</button>
                </form>
            </div>
        </div>

        <!-- User Tests -->
        <div class="col-md-12" style="margin-top:20px;">
            <div class="card card-block">
                <h4>User Tests</h4>
                <button class="btn btn-secondary test-button" (click)="returnUser()">Return User</button>
                <button class="btn btn-secondary test-button" (click)="clearUser()">Clear User</button>
                <button class="btn btn-secondary test-button" (click)="logout()">Logout</button>
            </div>
        </div>

        <!-- App Role Tests -->
        <div class="col-md-12" style="margin-top:20px;">
            <div class="card card-block">
                <h4>App Role Tests</h4>
                <button class="btn btn-secondary test-button" (click)="getAppRoles()">Get All App Roles</button>
                <div class="input-group spacer">
                    <span class="input-group-btn">
                        <button (click)="getRoleForApp(appName)" class="btn btn-secondary" type="button">App Role</button>
                    </span>
                    <input type="text" class="form-control" placeholder="App Name" [(ngModel)]="appName" name="appName">
                    <span class="input-group-btn">
                        <button (click)="isAdminForApp(appName)" class="btn btn-secondary" type="button">Admin?</button>
                    </span>
                </div>
            </div>
        </div>

        <!-- Header Tests -->
        <div class="col-md-12" style="margin-top:20px;">
            <div class="card card-block">
                <h4>Header Tests</h4>
                <button class="btn btn-secondary test-button" (click)="getAuthHeaders()">Get Auth Headers</button>
                <button class="btn btn-secondary test-button" (click)="getUserAuthHeaders()">Get User Auth Headers</button>
            </div>
        </div>

        <!-- Cookies Tests -->
        <div class="col-md-12" style="margin-top:20px;">
            <div class="card card-block">
                <h4>Cookies Tests</h4>
                <button class="btn btn-secondary test-button" (click)="getTokenFromCookie()">Get Token From Cookies</button>
                <button class="btn btn-secondary test-button" (click)="putTokenInCookie()">Put Token In Cookies</button>
                <button class="btn btn-secondary test-button" (click)="removeTokenFromCookie()">Remove Token From Cookies</button>
            </div>
        </div>

        <!-- Broadcast Tests -->
        <div class="col-md-12" style="margin-top:20px;">
            <div class="card card-block">
                <h4>Broadcast Tests</h4>
                <button class="btn btn-secondary test-button" (click)="broadcastMessage1()">Broadcast Key 1</button>
                <button class="btn btn-secondary test-button" (click)="broadcastMessage2()">Broadcast Key 2</button>
                <button class="btn btn-secondary test-button" (click)="broadcastMessage3()">Broadcast Key 3</button>
            </div>
        </div>


    </div>

    <!-- Output Pane -->
    <div class="col-md-8">
        <div class="card card-block output-card">
            <div *ngIf="loading" style="margin:auto">
                <i class="fa fa-circle-o-notch fa-spin fa-5x fa-fw"></i>
            </div>
            <div *ngIf="!loading">
                <h4>{{outputTitle}}</h4>
                <pre>{{outputData}}</pre>
            </div>
        </div>
    </div>

</div>
