<nav class="navbar navbar-toggleable-sm navbar-light bg-inverse">
    <span style="margin-left:50px;" class="navbar-brand inverse-color">Sarlacc Angular Client Test</span>
</nav>
<div class="row" style="margin: 50px;">

    <!-- Test Actions -->
    <div class="col-md-4">

        <!-- Login -->
        <div class="col-md-12">
            <div class="card card-block">
                <h4>Login</h4>
                <form (ngSubmit)="login()" #loginForm="ngForm">
                    <input class="form-control spacer" placeholder="username" [(ngModel)]="creds.username" name="username" [disabled]="loginLoading" required />
                    <input class="form-control spacer" placeholder="password" type="password" [(ngModel)]="creds.password" name="password" [disabled]="loginLoading" required />
                    <div *ngIf="!loginLoading">
                        <button type="submit" class="btn btn-primary spacer" [disabled]="!loginForm.form.valid || loginLoading">Login</button>
                    </div>
                    <div *ngIf="loginLoading" style="text-align: center">
                        <i class="fa fa-spinner fa-spin fa-3x" aria-hidden="true"></i>
                    </div>
                </form>
            </div>
        </div>

        <!-- Return User -->
        <div class="col-md-12" style="margin-top:20px;">
            <button class="btn btn-secondary" (click)="returnUser()">Return User</button>
        </div>

        <!-- Logout -->
        <div class="col-md-12" style="margin-top:20px;">
            <button class="btn btn-secondary" (click)="logout()">Logout</button>
        </div>

    </div>

    <!-- Outputs -->
    <div class="col-md-8">
        <div class="card card-block output-card">
            <div *ngIf="loading" style="margin:auto">
                <i class="fa fa-circle-o-notch fa-spin fa-5x fa-fw"></i>
            </div>
            <div *ngIf="!loading">
                <h4>{{outputTitle}}</h4>
                <pre>{{outputData}}</pre>
            </div>
        </div>
    </div>

</div>
